{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_student_monitor/kpi_card

    KPI Card template for dashboard.

    Context variables required:
    * title - Card title
    * value - Main value to display
    * subtitle - Optional subtitle
    * colorclass - CSS class for color (bg-danger, bg-primary, etc.)
    * icon - Optional icon class

    Example context (json):
    {
        "title": "Students at Risk",
        "value": "142",
        "subtitle": "+5% this week",
        "colorclass": "bg-danger",
        "icon": "fa-exclamation-triangle"
    }
}}
<div class="col-md-3">
    <div class="card kpi-card {{colorclass}} text-white">
        <div class="card-body">
            {{#icon}}
            <div class="kpi-icon">
                <i class="fa {{icon}}"></i>
            </div>
            {{/icon}}
            <h5 class="card-title">{{title}}</h5>
            <div class="kpi-number">{{value}}</div>
            {{#subtitle}}
            <small>{{subtitle}}</small>
            {{/subtitle}}
        </div>
    </div>
</div>
